// QUnit test cases generated @ ${date}

module("${moduleName}", {
    setup: function() {
        // generate fixture before each test
		//$("#qunit-fixture").append('${fixture}');
    },
    teardown: function() {
        // runs after each test
		//${testTearDownCode}
    }
});


#foreach( $function in $testFunctions )

test("${function.functionName}", function() {
	expect(0);
	$("#qunit-fixture").append('${function.fixture}');
#foreach( $statement in $function.statements )
	$statement
#end
});

#end
