// QUnit test cases generated @ ${date}

module("${moduleName}", {
    setup: function() {
        // runs before each test
		${testSetupCode}
    },
    teardown: function() {
        // runs after each test
		${testTearDownCode}
    }
});


#foreach( $function in $testFunctions )

test("${function.functionName}", function() {
    // test something
#foreach( $statement in $function.statements )
	$statement
#end
});

#end
