select("document[div_0[@id_main and child::p_1[@id_ConfixGeneratedID]] and child::div_2[@id_demo] and child::div_3[@id_id] and child::div_4[@id_id] and child::div_5[@id_testinput] and child::div_6[@id_testinput2]]")
