select("html/body/descendant::switch[ancestor::body[ancestor::html]]//descendant::audio[preceding-sibling::video/test2]/
descendant::seq/descendant::audio[preceding-sibling::video/test2]/test[@attr_100]/temp")